**Note: This is a very simple implementation with no Error/Exception Handling.**

**You need to upload the orignal excel file sent in our mail with the orignal name.**

**Ctrl+F9 to execute code after that.**

**You will need to input your Core Section and Elective Sections(From the printed list).**

**Your Desired output file will be on the files tab named: Final_Routine.xlsx**

#Importing Libs

In [ ]:
import pandas as pd
import numpy as np
import openpyxl
from tabulate import tabulate
from openpyxl import Workbook
pd.set_option('display.max_rows', 600)
pd.set_option('display.max_columns', 50)
!pip install XlsxWriter

Collecting XlsxWriter
  Downloading XlsxWriter-3.2.0-py3-none-any.whl (159 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 159.9/159.9 kB 2.8 MB/s eta 0:00:00
Installing collected packages: XlsxWriter
Successfully installed XlsxWriter-3.2.0

#Electives Schedule

##Extracting and Printing Sections

In [ ]:
df=pd.read_excel('5th_timetable.xls',sheet_name='3rd_elective')
df1=pd.read_excel('5th_timetable.xls',sheet_name='3rd_subject')
columns=df.columns.tolist()
sections=df.loc[df['DAY']=='MON','Section(DE)'].reset_index(drop=True).to_frame()

FileNotFoundError: [Errno 2] No such file or directory: '5th_timetable.xls'

In [ ]:
df1=df1[['CSE','HPC']]
drop=set()
for index, row in df1.iterrows():
  if row.isnull().any():
    drop.add(index+1)
df1=df1.drop(drop)
df1=df1.dropna().reset_index(drop=True)
df1=df1.drop(df1.index[:47]).reset_index(drop=True)
df1.rename(columns={'CSE':'Section Name','HPC':'Teacher Name'},inplace=True)
header=['Section Num']+df1.columns.to_list()
print(tabulate(df1, headers=header,tablefmt='pipe'))

NameError: name 'df1' is not defined

##Taking Input

In [ ]:
mysec=[]
mysec.append(input("Enter Elective Section Num 1: "))
mysec.append(input("Enter Elective Section Num 2: "))
mysec=[int(i) for i in mysec]
mysec=[sections.iloc[i,0] for i in mysec]
print(f"Your Selected Sections: {mysec}")

##Forming New Routine

In [ ]:
elective=pd.DataFrame(columns=columns)
for i in mysec:
  for j in df['Section(DE)']:
    if i==j:
      elective=elective.append(df.loc[df['Section(DE)']==j],ignore_index=True)

<ipython-input-5-f4f13f1df2ad>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  elective=elective.append(df.loc[df['Section(DE)']==j],ignore_index=True)

In [ ]:
subset=['DAY','Section(DE)','ROOM1','ROOM2','ROOM3','ROOM4','ROOM5','ROOM6']
elective=elective.drop_duplicates(subset=subset)
elective = elective[~((elective.iloc[:,2:] == 'X') | (elective.iloc[:,2:] == '---')).all(axis=1)]
copy=elective.copy()
elective.insert(loc=2, column='ROOM-1',value='---')
elective.insert(loc=4, column='ROOM0',value='---')
rename={f'ROOM{i}':f'ROOM{j}' for i,j in zip(range(-1,7),range(1,9))}
elective.rename(columns=rename,inplace=True)
print(tabulate(elective,headers=elective.columns))

    DAY    Section(DE)    ROOM1    8-9    ROOM2    9-10    10-11    ROOM3     11-12     ROOM4     12-1      ROOM5    1-2    ROOM6    3-4     ROOM7     4-5       ROOM8    5-6
--  -----  -------------  -------  -----  -------  ------  -------  --------  --------  --------  --------  -------  -----  -------  ------  --------  --------  -------  ------
 0  MON    DMDW_IT-1      ---      X      ---      X       X        ---       X         A-LH-010  DMDW(DE)  ---      X      ---      X       ---       X         ---      X
 3  THU    DMDW_IT-1      ---      X      ---      X       X        A-LH-010  DMDW(DE)  ---       X         ---      X      ---      X       ---       X         ---      X
 4  FRI    DMDW_IT-1      ---      X      ---      X       X        ---       X         ---       X         ---      X      ---      X       A-LH-010  DMDW(DE)  ---      X
37  TUE    BD_IT-1        ---      X      ---      X       X        B-405     BD(DE)    ---       X         ---      X      ---      X       ---       X         ---      X
38  WED    BD_IT-1        ---      X      ---      X       X        ---       X         ---       X         ---      X      ---      X       ---       X         B-405    BD(DE)
40  FRI    BD_IT-1        ---      X      ---      X       X        ---       X         ---       X         ---      X      B-405    BD(DE)  ---       X         ---      X

#Core Schedule

##Extracting Sections

In [ ]:
df=pd.read_excel('5th_timetable.xls',sheet_name='3rd_section')
columns=df.columns.tolist()
core=[]
for item in df['Section']:
  if item not in core:
    core.append(item)
core=['CSE1']+core[3:]

In [ ]:
print("Section Number   Section Name")
for index,value in enumerate(core):
  print(index,"\t\t",value)

Section Number   Section Name
0 		 CSE1
1 		 CSE-2
2 		 CSE-3
3 		 CSE-4
4 		 CSE-5
5 		 CSE-6
6 		 CSE-7
7 		 CSE-8
8 		 CSE-9
9 		 CSE-10
10 		 CSE-11
11 		 CSE-12
12 		 CSE-13
13 		 CSE-14
14 		 CSE-15
15 		 CSE-16
16 		 CSE-17
17 		 CSE-18
18 		 CSE-19
19 		 CSE-20
20 		 CSE-21
21 		 CSE-22
22 		 CSE-23
23 		 CSE-24
24 		 CSE-25
25 		 CSE-26
26 		 CSE-27
27 		 CSE-28
28 		 CSE-29
29 		 CSE-30
30 		 CSE-31
31 		 CSE-32
32 		 CSE-33
33 		 CSE-34
34 		 CSE-35
35 		 CSE-36
36 		 CSE-37
37 		 CSE-38
38 		 CSE-39
39 		 IT-1
40 		 IT-2
41 		 IT-3
42 		 IT-4
43 		 CSCE-1
44 		 CSCE-2
45 		 CSSE-1
46 		 CSSE-2

##Taking Input

In [ ]:
sect = input("Enter Core Section Number: ")
sect=core[int(sect)]
print(f"Your Selected Section: {sect}")

Enter Core Section Number: 39
Your Selected Section: IT-1

#Forming Table

In [ ]:
core=pd.DataFrame(columns=columns)
for j in df['Section']:
  if sect==j:
    core=core.append(df.loc[df['Section']==j],ignore_index=True)
core=core.drop_duplicates()
counter=10
for i in range(7,13,2):
  core.insert(loc=i, column=f'ROOM{counter}',value='---')
  counter+=1
core.insert(loc=core.shape[1]-1,column=f'ROOM{counter}',value='---')
rename={f'ROOM{i}':f'ROOM{j}' for i,j in zip(range(3,5),range(6,8))}
core.rename(columns=rename,inplace=True)
rename={f'ROOM{i}':f'ROOM{j}' for i,j in zip(range(10,13),range(3,6))}
core.rename(columns=rename,inplace=True)
core.rename(columns={'ROOM13':'ROOM8'},inplace=True)
core.drop(['2-3'],axis=1,inplace=True)
core.replace(['X','---'],pd.NA,inplace=True)

<ipython-input-11-93f6f431fb3b>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  core=core.append(df.loc[df['Section']==j],ignore_index=True)

##Standarisation of Tables

In [ ]:
elective.rename(columns={'Section(DE)':'Section'},inplace=True)
print(len(core['Section'][:]))
elective['Section'][:]=core['Section'][:]
elective.replace(['X','---'],pd.NA,inplace=True)
elective=elective.reset_index(drop=True)
print(tabulate(elective,headers=elective.columns))

6
    DAY    Section    ROOM1    8-9    ROOM2    9-10    10-11    ROOM3     11-12     ROOM4     12-1      ROOM5    1-2    ROOM6    3-4     ROOM7     4-5       ROOM8    5-6
--  -----  ---------  -------  -----  -------  ------  -------  --------  --------  --------  --------  -------  -----  -------  ------  --------  --------  -------  ------
 0  MON    IT-1       <NA>     <NA>   <NA>     <NA>    <NA>     <NA>      <NA>      A-LH-010  DMDW(DE)  <NA>     <NA>   <NA>     <NA>    <NA>      <NA>      <NA>     <NA>
 1  THU    IT-1       <NA>     <NA>   <NA>     <NA>    <NA>     A-LH-010  DMDW(DE)  <NA>      <NA>      <NA>     <NA>   <NA>     <NA>    <NA>      <NA>      <NA>     <NA>
 2  FRI    IT-1       <NA>     <NA>   <NA>     <NA>    <NA>     <NA>      <NA>      <NA>      <NA>      <NA>     <NA>   <NA>     <NA>    A-LH-010  DMDW(DE)  <NA>     <NA>
 3  TUE    IT-1       <NA>     <NA>   <NA>     <NA>    <NA>     B-405     BD(DE)    <NA>      <NA>      <NA>     <NA>   <NA>     <NA>    <NA>      <NA>      <NA>     <NA>
 4  WED    IT-1       <NA>     <NA>   <NA>     <NA>    <NA>     <NA>      <NA>      <NA>      <NA>      <NA>     <NA>   <NA>     <NA>    <NA>      <NA>      B-405    BD(DE)
 5  FRI    IT-1       <NA>     <NA>   <NA>     <NA>    <NA>     <NA>      <NA>      <NA>      <NA>      <NA>     <NA>   B-405    BD(DE)  <NA>      <NA>      <NA>     <NA>

#Merging Both DataFrames

In [ ]:
time=['11-12','12-1','1-2','3-4','4-5','5-6']
ind=0
counter = -1
for i,val in enumerate(time):
  for j in elective[val]:
    counter+=1
    if not pd.isna(j):
      # print("WOW: ",j,"LOL: ",val,"SHOOT: ",elective.iloc[counter,0])
      ind=core.index[core['DAY']==elective.iloc[counter,0]].item()
      core.loc[ind,val]=j#subject are put into correct place
      ind1=core.columns.to_list().index(val)-1
      room=core.columns[ind1]
      core.loc[ind,room]=elective.loc[counter,room]#Room No is slotted
  counter=-1

In [ ]:
replace={f'ROOM{i}':'---' for i in range(1,9)}
core=core.fillna(replace)
time=['8-9','9-10','10-11','11-12','12-1','1-2','3-4','4-5','5-6']
counter = -1
for i,val in enumerate(time):
  for j in core[val]:
    counter+=1
    if pd.isna(j):
      core.loc[counter,val]='X'
  counter=-1
print(tabulate(core,headers=core.columns))

    DAY    Section    ROOM1     8-9    ROOM2     9-10    10-11    ROOM3     11-12     ROOM4     12-1      ROOM5    1-2    ROOM6     3-4     ROOM7     4-5       ROOM8    5-6
--  -----  ---------  --------  -----  --------  ------  -------  --------  --------  --------  --------  -------  -----  --------  ------  --------  --------  -------  ------
 0  MON    IT-1       A-LH-109  IOT    A-DL-106  CN(L)   CN(L)    ---       X         A-LH-010  DMDW(DE)  ---      X      A-LH-105  DAA     A-LH-105  CN        ---      X
 1  TUE    IT-1       A-LH-109  CN     A-LH-109  SE      DAA      B-405     BD(DE)    ---       X         ---      X      A-LH-104  IOT     A-LH-104  X         ---      X
 2  WED    IT-1       A-LH-010  SE     A-DL-106  DAA(L)  DAA(L)   ---       X         ---       X         ---      X      ---       X       ---       X         B-405    BD(DE)
 3  THU    IT-1       ---       X      ---       X       X        A-LH-010  DMDW(DE)  ---       X         ---      X      ---       X       ---       X         ---      X
 4  FRI    IT-1       A-LH-110  IOT    A-LH-110  DAA     SE       ---       X         ---       X         ---      X      B-405     BD(DE)  A-LH-010  DMDW(DE)  ---      X
 5  SAT    IT-1       ---       X      ---       X       X        ---       X         ---       X         ---      X      B-406     CN      B-406     SE        ---      X

#Conversion to Excel

In [ ]:
# file_name='Elective_Routine.xlsx'
# core.to_excel(file_name, index=False)
# print(f"DataFrame exported to '{file_name}' successfully.")

In [ ]:
with pd.ExcelWriter(f'Final_Routine_{sect}_{mysec[0]}_{mysec[1]}.xlsx', engine='xlsxwriter') as writer:
    core.to_excel(writer, index=False, sheet_name='Sheet1')
    workbook = writer.book
    worksheet = writer.sheets['Sheet1']
    cell_format = workbook.add_format({'bold': True, 'border': 2, 'bg_color': '99ccff'})
    bold_border_format = workbook.add_format({'bold': True, 'border': 2})
    thin_border_format = workbook.add_format({'border': 1})
    for col_num, value in enumerate(core.columns.values):
        worksheet.write(0, col_num, value, cell_format)
    num_rows, num_cols = core.shape
    ranges = ['A2:B7','C2:C7','E2:E7','H2:H7','J2:J7','L2:L7','N2:N7','P2:P7','R2:R7']
    for i in ranges:
      worksheet.conditional_format(i, {'type': 'no_blanks', 'format': cell_format})
    for row_num in range(1, num_rows + 1):
        for col_num in range(num_cols):
            cell_value = core.iat[row_num - 1, col_num]
            if cell_value in ['X']:
                worksheet.write(row_num, col_num, cell_value, thin_border_format)
            if cell_value not in ['X']:
                worksheet.write(row_num, col_num, cell_value, bold_border_format)
print(f"Excel file 'Final_Routine_{sect}_{mysec[0]}_{mysec[1]}.xlsx' has been created.")

Excel file 'Final_Routine_IT-1_DMDW_IT-1_BD_IT-1.xlsx' has been created.